<h1>Listing emailvalidations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emailvalidations.each do |emailvalidation| %>
  <tr>
    <td><%= emailvalidation.user_id %></td>
    <td><%= emailvalidation.key %></td>
    <td><%= link_to 'Show', emailvalidation %></td>
    <td><%= link_to 'Edit', edit_emailvalidation_path(emailvalidation) %></td>
    <td><%= link_to 'Destroy', emailvalidation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emailvalidation', new_emailvalidation_path %>
